:root {
    --shadow: 3px 3px 0px 0px black;
}

.important-control {
    width: 1.5em;
    height: 1.5em;

    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
}

.moon.important-control:before {
    visibility: visible;
    content: "🌑";
}

.moon.important-control:checked:before {
    content: "🌕";
}

.light.important-control:before {
    visibility: visible;
    content: "🔘";
}

.light.important-control:checked:before {
    content: "🔴";
}

.done-control {
    visibility: hidden;
    font-size: 30px;

    cursor: pointer;
}

.done-control:before {
    content: "🔲"; 
    visibility: visible;
}

.done-control:checked:before {
    content: "✅";
}

.task-text {
    font-size: 30px;
}

.date {
    font-size: 12px;

    grid-column: 3;
}

.btn {
    width: 50px;
    height: 50px;
    
    font-size: 22px;

    border-radius: 20px;
    border-style: solid;
    border-color: black;

    background-color: #fcf4e6;

    cursor: pointer;
    
}

.btn.edit:hover {
    background-color: royalblue;
    box-shadow: var(--shadow);
}

.btn.delete:hover {
    background-color: crimson;
    box-shadow: var(--shadow);
}