:root {
    --white: #ffffff;
    --green: #00d36a;
    --red: #f82d2b;
    --box-shadow: 3px 3px 0px 0px black;
}

.switches {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.switches button {
    height: 35px;

    font-size: 26px;

    border: 0.01rem solid;
}

.switches button:hover {
    border: 0.15rem solid;

    cursor: pointer;
}

.mode-done:hover {
    background-color: var(--green);
}

.mode-active:hover {
    background-color: var(--white);
}

.mode-important:hover {
    background-color: var(--red);
}

.mode-unimportant:hover {
    background-color: var(--white);
}

.active-filter {
    width: 1134px;
    display: block;
    float: center;

    margin-top: 20px;
    margin-left: 20px;

    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;
    font-size: 26px;

    background-color: #787ff0;

    border-radius: 15px;
    border-color: black;
    border-style: solid;
}

.active-filter:hover {
    box-shadow: var(--box-shadow);
}