:root {
    --white: #ffffff;
    --green: #00d36a;
    --red: #f82d2b;
}

.switches {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.switch-done {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-left: 10px;
    margin-right: 10px;
}

.switches button {
    border: 0.01rem solid;
    height: 26px;
}

.switches button:hover {
    border: 0.2rem solid;
}

.mode-done:hover {
    background-color: var(--green);
}

.mode-active:hover {
    background-color: var(--white);
}

.switch-important {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-left: 50px;
    margin-right: 50px;
}

.mode-important:hover {
    background-color: var(--red);
}

.mode-unimportant:hover {
    background-color: var(--white);
}