.task-form {
    display: grid;
    grid-template-columns: 84% 4% 12%;

    margin-top: 60px;
}

.task-input {
    height: 50px;

    padding: 0.3em;

    font-size: 30px;

    border-radius: 15px;
    border-color: black;
}

.task-input:hover {
    box-shadow: 4px 4px 0px 0px black;
}

.task-input:focus {
    box-shadow: 4px 4px 0px 0px black;
}

.btn-add {
	background: #000;

	padding: 0;
	border-radius: 5px;

    font-size: 30px;
	font-weight: 700;

    cursor: pointer;
}

.btn-add span {
	display: block;

	padding: 1.5rem 2rem;

	border: 1px solid #000;
	border-radius: 5px;

	background-color: #fcf4e6;

	transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.btn-add:hover span {
	transform: translate3d(-8px, -8px, 0);
}

.important-control-form {
    margin-top: 18px;

    visibility: hidden;

    font-size: 30px;

    cursor:pointer;
}

.important-control-form:before {
   content: "🔘";
   visibility: visible;
}

.important-control-form:checked:before {
   content: "🔴";
}

.moon.important-control-form:before {
    content: "🌑";
}

.moon.important-control-form:checked:before {
    content: "🌕";
}