nav {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: bisque;
}

.link {
    height: 20px;
    text-decoration: none;
    text-align: center;
    border-color: black;
    border-style: solid;
}