:root {
    --white: #ffffff;
    --dark: #1a1b1f;
}

.heading{
    text-align: center;
}

.description {
    font-size: 16px;
}

.light.head {
    background-color: var(--white);
    color: var(--dark)
}
  
.dark.head {
    background-color: var(--dark);
    color: var(--white);
}