.task-tools {
    display: grid;
    grid-template-columns: 50% 50%;
}

.task-tools button{
    height: 35px;

    margin: 10px;

    border: 0.01rem solid;
    font-size: 26px;
}

.task-tools button:hover {
    border: 0.15rem solid;

    background-color: crimson;

    cursor: pointer;
}