.description {
    font-size: 30px;
}

.heading{
    text-align: center;
}

.essential {
    height: calc();
    width: calc();

    padding: 5px;

    border-radius: 15px;
    border-style: solid;
    border: 2px solid;

    background-color: tomato;
}

.essential:hover{
    box-shadow: 3px 3px 0px 0px black;
}

.local-date {
    top: -150px;

    float: right;
    position: relative;
    
    font-size: 14px;
    
    background-color: #787ff0;
}
