* {
  font-family: 'Rubik', sans-serif;
}

body {
  font-family: 'Rubik', sans-serif;
  width: 800px;
  margin: 0 auto 0 auto;
  background-color: #ffffff;
}

.moon body {
  background-color: #1a1b1f;
}