* {
  font-family: 'Rubik', sans-serif;
}

body {
  width: 1200px;
  margin: 0 auto 0 auto;
  background-image: url('./assets//background.png');
  background-repeat: repeat;
}

.moon body {
  background-color: #1a1b1f;
}