.not-found-text {
    text-align: center;
}

.scarecrow {
    width: 30%;
    height: 30%;

    margin: 0 400px 0 400px;
}

.not-found {
    align-items: center;

    margin-top: 10px;
    padding: 10px;

    background-color: #fcf4e6;

    border-radius: 20px;
    border-style: solid;
    
    box-shadow: 5px 5px 0px 0px black;
}