:root {
    --light-task: #387a57;
    --light-task-important: #ffd5d5;

    --moon-task: #fcd63d;
    --moon-task-important: rebeccapurple;

    --task-done: green;
}

.task {
    height: 60px;

    display: grid;
    grid-template-columns: 5.5% 4.5% 80% 5% 5%;
    align-items: center;
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

    border-radius: 20px;
    border: 0.3rem solid;

    background-color: var(--light-task);
}

.task.important {
    background-color: var(--light-task-important);
}

.moon.task {
    background-color: var(--moon-task);
}

.moon.task.important {
    background-color: var(--moon-task-important);
}

.task.important .task-text{
    font-size: 27px;
}

.task.done .task-text{
    text-decoration: line-through;
    text-decoration-color: var(--task-done);
    color: var(--task-done);
}