:root {
    --light-task: #9ff1b7;
    --light-task-important: #ffb09c;

    --moon-task: #fcd63d;
    --moon-task-important: #2f4a58;

    --task-done: green;

    --task-shadow: 6px 6px 0px 0px black;
}

.task-list {
    margin-top: 10px;
    margin-bottom: 50px;

    padding: 10px;

    background-color: #fcf4e6;

    border-radius: 20px;
    border-style: solid;
    box-shadow: var(--task-shadow);

}

.task {
    height: calc();

    display: grid;
    grid-template-columns: 4% 4% 80% 5% 5%;
    align-items: baseline;

    margin: 20px;

    padding: 10px;

    background-color: var(--light-task);

    border-radius: 20px;
    border-style: solid;

    box-shadow: var(--task-shadow);  
}

.task.important {
    background-color: var(--light-task-important);
}

.moon.task {
    background-color: var(--moon-task);
}

.moon.task.important {
    background-color: var(--moon-task-important);
}

.task.important .task-text{
    font-size: 30px;
}

.task.done .task-text{
    text-decoration: line-through;
    text-decoration-color: var(--task-done);
    color: var(--task-done);
}